/* BODY STYLES */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(
        #f4f9f4,
        #c4e3cb 40%,
        #8aae92 70%,
        #616161 90%
        );
    height: 100%;
}

main {
    text-align: center;
}

/* Nav Menu */
nav {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 250px;
    left: -250px;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.nav-link {
    padding: 1.2em;
    text-align: left;
}

.nav-link:hover {
    background-color: #616161;
}

.nav-link>a {
    color: ghostwhite;
    text-decoration: none;
}

#nav-tab {
    background: rgba(0, 0, 0, 0.35);
    height: 28px;
    width: 28px;
    border-radius: 1px;
    padding: 1em;
    position: fixed;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.nav-tab-line {
    margin-top: 5px;
    border-top: 4px solid #616161;
    border-radius: 5px;
}

.move {
    transform: translateX(250px);
}

/* Headers */
header {
    text-align: center;
    color: #616161;
    padding: .25em;
}

h1 {
    font-size: 5em;
    font-weight: 700;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 1.2em;
    font-weight: 200;
}

/* INPUT STYLES */
#input-cont {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-box {
    margin: 0 1em;
    font-size: 1.2em;
    padding: .5em;
    display: flex;
    flex-direction: column;
}

.input-item {
    padding: .1em;
    border-radius: .5em;
}

.bar {
    padding: .2em;
}

.none, .invis {
    display: none;
}

#submit-button {
    border-radius: .4em;
}

/* OUTPUT STYLES */
#output-cont {
    max-height: 60vh;
    width: 80%;
    margin: 0 auto;
    padding: 1.2em;
    background-color: #eee;
    opacity: .6;
    border-radius: .5em;
    overflow: scroll;
    animation-name: display-output-cont;
    animation-duration: .5s;
}

#output-cont::-webkit-scrollbar {
  display: none;
}

#output-header {
    text-decoration: underline;
}

.output-row {
    display: flex;
    justify-content: space-between;
    padding: .5em;
}

hr {
    width: 95%;
    margin: .1em auto;
}

.name {
    width: 35%;
    text-align: left;
}

.city {
    width: 20%;
}

.distance {
    width: 15%;
}

.price {
    width: 10%;
}

.map {
    width: 15%;
}

/* Animations */
@keyframes display-output-cont {
    0% {transform: translateY(-250px) scaleY(0);}
    100% {transform: translateY(0) scaleY(1);}
}
