* {
    margin: 0;
    padding: 0;
}

/* BODY & HEADER STYLES */
body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(
        #f4f9f4,
        #c4e3cb 40%,
        #8aae92 70%,
        #616161 90%
        );
    height: 100vh;
    text-align: center;
}

h1 {
    color: #616161;
    font-size: 5em;
    font-weight: 700;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    padding: .25em;
}

h2 {
    color: #616161;
    font-size: 1.2em;
    font-weight: 200;
    padding: .25em
}

/* INPUT STYLES */
#input-cont {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-box {
    margin: 0 1em;
    font-size: 1.2em;
    padding: .5em;
    display: flex;
    flex-direction: column;
}

.input-item {
    padding: .1em;
    border-radius: .5em;
}

.bar {
    padding: .2em;
}

.none, .invis {
    display: none;
}

#submit-button {
    border-radius: .4em;
}

/* OUTPUT STYLES */
#output-cont {
    height: auto;
    width: 80%;
    margin: 0 auto;
    padding: 1.2em;
    background-color: #eee;
    opacity: .6;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
}

#output-header {
    text-decoration: underline;
}

.output-row {
    display: flex;
    justify-content: space-between;
}

hr {
    width: 95%;
    margin: .1em auto;
}

.name {
    width: 40%;
    text-align: left;
}
